.App {
  text-align: center;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-size: 1rem;
  color: white;
}

.numberButton {
  background-color: #950101;
  font-size: 3rem;
  width: 80px;
  height: 80px;
}
.delButton {
  background-color: #950101;
  font-size: 1.5rem;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.numberButton:active {
  background-color: #e97676;
}

.enterButton {
  background-color: #950101;
  width: 248px;
  height: 80px;
  font-size: 1.5rem;
  color: white;
}

.reward {
  width: 100vw;
  height: 100vh;
}
